@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap");

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body{
    height: 100vh;
}

.container{
    background-color: #fff;
    width: 400px;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

.container *:not(i){
    font-family: 'Zen Maru Gothic';
}
